<h3>Cart</h3>

<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
    <span> {{ item.name }} </span>
    <span> {{ item.price | currency }} </span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name"/>
        <div class="validator" *ngIf="hasErrors('name', 'required')">Required field</div>
        <div class="validator" *ngIf="hasErrors('name', 'minlength')">At leas 3 characters required</div>
    </div>

    <div>
        <label for="address">
            Address
        </label>
        <input id="address" type="text" formControlName="address"/>
        <div class="validator" *ngIf="hasErrors('address', 'email')">Invalid email address</div>
        <div class="validator" *ngIf="hasErrors('address', 'required')">Required field</div>
    </div>

    <button class="button purchase" type="submit">Purchase</button>
</form>
